@charset "utf-8";

/*********************************************************/
/**  Import Fonts                                       **/
/**  from base local server directory                   **/
/*********************************************************/

@import url("../font/fontello-horaiter/css/horaiter.css");
/*	contains fonts:
        horaiter
        css contains icon definitions:
        .icon-logout
        .icon-logo_horaiter
        .icon-login
        .icon-cog
        .icon-list
        .icon-upload-cloud
        .icon-print
        .icon-search
        .icon-user
        .icon-users
        .icon-user-add
        .icon-vcard
        .icon-newspaper
        .icon-book-open
        .icon-archive
        .icon-folder
        .icon-globe
        .icon-cloud
        .icon-database
        .icon-arrows-ccw
        .icon-hourglass
        .icon-lock-open
        .icon-lock
        .icon-clock
*/

@import url("../font/fontello-horaiter/css/animation.css");
/*	contains:
    .animate-spin
*/

/*********************************************************
** Icon-Animations
*********************************************************/
.icon-hourglass.animate-spin {
  animation: spin_hourglass 2s infinite linear;
  display: inline-block;
}

@keyframes spin_hourglass {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  80% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

.icon {
    font-family: horaiter;
}


/***** overlay icons *****/
.position-icon-overlay {
    position: 					absolute;
	bottom: 					-0.5em;
	left:						1.5em;

	font-size: 					0.5em;
	text-shadow: 				0 0 2px rgb(0, 0, 0);
}

.status-online {
    color: 						rgb(0, 255, 0);
}

.status-offline {
    color: 						rgb(200, 10, 0);
}

.position-icon-overlay-text {
    position: 					absolute;
	bottom: 					-0.2em;
	left:						1.2em;
	font-size: 					0.7em;
}

.blueocean .position-icon-overlay-text {
	text-shadow: 				0 0 1px rgb(0, 0, 0),
								0 0 1px rgb(0, 0, 0),
								0 0 1px rgb(0, 0, 0),
								0 0 3px rgb(0, 0, 0),
								0 0 3px rgb(0, 0, 0),
								0 0 4px rgb(0, 0, 0);
}
.sunlight .position-icon-overlay-text {
	text-shadow: 				0 0 1px rgb(255, 255, 255),
								0 0 1px rgb(255, 255, 255),
								0 0 1px rgb(255, 255, 255),
								0 0 3px rgb(255, 255, 255),
								0 0 2px rgb(255, 255, 255);
}
