@charset "utf-8";

/*********************************************************/
/**  Import Fonts                                       **/
/**  from base local server directory                   **/
/*********************************************************/

@import url("../font/fontello-shapepusher/css/shapepusher.css");
/*	contains fonts:
    shapepusher
        contains icon definitions:
        .icon-logout
        .icon-arrows-move
        .icon-login
        .icon-cog
        .icon-list
        .icon-pencil
        .icon-down
        .icon-search
        .icon-mouse-pointer
        .icon-hand
        .icon-box-select
        .icon-left
        .icon-right
        .icon-up
        .icon-picture
        .icon-camera
        .icon-globe
        .icon-cloud
        .icon-database
        .icon-arrows-ccw
        .icon-flashlight
        .icon-lock-open
        .icon-lock
        .icon-home
        .icon-list-add
        .icon-menu
        .icon-check
        .icon-cancel
        .icon-plus
        .icon-minus
        .icon-eye
        .icon-briefcase
        .icon-suitcase
        .icon-feather
        .icon-trash
        .icon-cup
        .icon-cw
        .icon-ccw
        .icon-magnet
        .icon-export
        .icon-target
        .icon-palette
        .icon-mouse
        .icon-traffic-cone
        .icon-dot-3
        .icon-dot-2
        .icon-dot
        .icon-brush
        .icon-layout
        .icon-info
        .icon-help
        .icon-right-thin
        .icon-up-thin
        .icon-left-thin
        .icon-down-thin
        .icon-docs
        .icon-doc
        .icon-doc-landscape
*/

@import url("../font/fontello-shapepusher/css/animation.css");
/*	contains:
    .animate-spin
*/

/*********************************************************
** Icon-Animations
*********************************************************/
.icon-hourglass.animate-spin {
  animation: spin_hourglass 2s infinite linear;
  display: inline-block;
}

@keyframes spin_hourglass {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  80% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

.icon {
    font-family: horaiter;
}


/***** overlay icons *****/
.position-icon-overlay {
    position: 					absolute;
	bottom: 					-0.3em;
	left:						0.7em;

	font-size: 					0.9em;
	text-shadow: 				0 0 2px rgb(0, 0, 0);
    overflow:                   hidden;
}

.status-online {
    color: 						rgb(0, 255, 0);
}

.status-offline {
    color: 						rgb(200, 10, 0);
}

.position-icon-overlay-text {
    position: 					absolute;
	bottom: 					-0.2em;
	left:						1.2em;
	font-size: 					0.7em;
}

.blueocean .position-icon-overlay-text {
	text-shadow: 				0 0 1px rgb(0, 0, 0),
								0 0 1px rgb(0, 0, 0),
								0 0 1px rgb(0, 0, 0),
								0 0 3px rgb(0, 0, 0),
								0 0 3px rgb(0, 0, 0),
								0 0 4px rgb(0, 0, 0);
}
.sunlight .position-icon-overlay-text {
	text-shadow: 				0 0 1px rgb(255, 255, 255),
								0 0 1px rgb(255, 255, 255),
								0 0 1px rgb(255, 255, 255),
								0 0 3px rgb(255, 255, 255),
								0 0 2px rgb(255, 255, 255);
}
