<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html ng-app="mainApp" ng-strict-di>
<head>
    <title>ShapePusher Example</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <link rel="shortcut icon" href="favicon.ico" />
	<link rel="shortcut icon" type="image/x-icon" href="img/logo/logo.ico" />
	<link rel="shortcut icon" type="image/png" href="img/logo/logo_500x500.png" />
	<link rel="shortcut icon" type="image/svg" href="img/logo/logo.svg" />

    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/app.css">
    <link rel="stylesheet" type="text/css" href="css/debugview.css">
    <link rel="stylesheet" type="text/css" href="css/buttons.css">
    <link rel="stylesheet" type="text/css" href="css/myDirectivesShapePusher.css">
    <link rel="stylesheet" type="text/css" href="css/icons.css">
    <!-- <link rel="stylesheet" type="text/css" href="css/symbols.css"> -->

    <script type="text/javascript" charset="UTF-8" src="js/polyfill.js"></script>

    <script type="text/javascript" charset="UTF-8" src="js/angular.js"></script>
    <!--<script type="text/javascript" charset="UTF-8" src="js/angular-resource.js"></script>-->
    <!--<script type="text/javascript" charset="UTF-8" src="js/angular-route.js"></script>-->

    <script type="text/javascript" charset="UTF-8" src="js/app.js"></script>
    <script type="text/javascript" charset="UTF-8" src="js/controllers.js"></script>
    <script type="text/javascript" charset="UTF-8" src="js/myFilters.js"></script>
    <!--<script type="text/javascript" charset="UTF-8" src="js/myDirectives/myDirectivesTextFileButton.js"></script>-->
    <script type="text/javascript" charset="UTF-8" src="js/myDirectives/myDirectivesShapePusher.js"></script>
    <script type="text/javascript" charset="UTF-8" src="js/myDirectives/myDirectives_ngTouch.js"></script>


    <!-- mobile specific -->
    <meta
        name="viewport"
        content="
            width=device-width,
            initial-scale=1.0,
            minimum-scale=1.0,
            maximum-scale=1.0,
            user-scalable=no
        "
     />

	<!-- **********
		IPAD specific metas:
		https://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariHTMLRef/Articles/MetaTags.html
	-->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="format-detection" content="telephone=no">
	<!-- ********** -->
</head>
<body
    class="blueocean"
    ng-class="viewStyle.list[data.settings.viewStyle].class"
    ng-controller="MainController"
>
    <div id="MainController" class="app" >
        <div class="debugView">
            <div>
                <label>style:</label>
                <select
                    ng-model="data.settings.viewStyle"
                    title="switch style"
                    ng-options="
                        vStyleName as vStyle.name for (
                            vStyleName,
                            vStyle
                        ) in viewStyle.list
                    "
                >
                    <option value="">-- choose style --</option>
                </select>
                <br>
                <button
                    class="button small inline"
                    title="load some data"
                    ng-click="loadData()"
                >
                    loadData
                </button>
                <br>
                <section>
                    <label>world:</label><br>
                    <label>width</label>
                    <input
                        type="number"
                        inputmode="numeric"
                        title="width"
                        min="500"
                        max="100000"
                        step="500"
                        ng-model="data.shapepusher_settings.world.width"
                        ng-model-options="{
                            updateOn: 'default blur',
                            debounce: {'default': 500, 'blur': 0}
                        }"
                    ><br>
                    <label>height</label>
                    <input
                        type="number"
                        inputmode="numeric"
                        title="height"
                        min="500"
                        max="100000"
                        step="500"
                        ng-model="data.shapepusher_settings.world.height"
                        ng-model-options="{
                            updateOn: 'default blur',
                            debounce: {'default': 500, 'blur': 0}
                        }"
                    ><br>
                    <section>
                    <label>pan</label><br>
                        <label>x</label>
                        <input
                            type="number"
                            inputmode="numeric"
                            title="x"
                            min="-10000"
                            ng-attr-max="
                                {{data.shapepusher_settings.world.width}}
                            "
                            step="1"
                            ng-model="data.shapepusher_settings.world.pan.x"
                            ng-model-options="{
                                updateOn: 'default blur',
                                debounce: {'default': 500, 'blur': 0}
                            }"
                        /><br>
                        <label>y</label>
                        <input
                            type="number"
                            inputmode="numeric"
                            title="y"
                            min="-10000"
                            ng-attr-max="
                                {{data.shapepusher_settings.world.height}}
                            "
                            step="1"
                            ng-model="data.shapepusher_settings.world.pan.y"
                            ng-model-options="{
                                updateOn: 'default blur',
                                debounce: {'default': 500, 'blur': 0}
                            }"
                        /><br>
                        <label>
                            <input
                                type="checkbox"
                                ng-model="data.shapepusher_settings.world.pan.enabled"
                            >
                            enabled
                        </label><br>
                    </section>
                    <section>
                        <label>zoom</label><br>
                        <label>factor</label>
                        <input
                            type="number"
                            inputmode="numeric"
                            title="zoom"
                            min="0.5"
                            max="40"
                            step="0.1"
                            ng-model="data.shapepusher_settings.world.zoom.factor"
                            ng-model-options="{
                                updateOn: 'default blur',
                                debounce: {'default': 500, 'blur': 0}
                            }"
                        /><br>
                        <label>
                            <input
                                type="checkbox"
                                ng-model="data.shapepusher_settings.world.zoom.enabled"
                            >
                            enabled
                        </label>
                    </section>
                </section>
                <section>
                    <label>grid:</label><br>
                    <label>stepSize</label>
                    <input
                        type="number"
                        inputmode="numeric"
                        title="stepSize"
                        min="250"
                        max="100000"
                        step="250"
                        ng-model="data.shapepusher_settings.grid.stepSize"
                        ng-model-options="{
                            updateOn: 'default blur',
                            debounce: {'default': 500, 'blur': 0}
                        }"
                    ><br>
                    <label>
                        <input
                            type="checkbox"
                            ng-model="data.shapepusher_settings.grid.visible"
                        >
                        visible
                    </label><br>
                    <label>
                        <input
                            type="checkbox"
                            ng-model="data.shapepusher_settings.grid.numbers"
                        >
                        numbers
                    </label><br>
                </section>
                <section>
                    <label>gridSnap:</label><br>
                    <label>stepSize</label>
                    <input
                        type="number"
                        inputmode="numeric"
                        title="stepSize"
                        min="250"
                        max="100000"
                        step="250"
                        ng-model="data.shapepusher_settings.gridSnap.stepSize"
                        ng-model-options="{
                            updateOn: 'default blur',
                            debounce: {'default': 500, 'blur': 0}
                        }"
                    ><br>
                    <label>
                        <input
                            type="checkbox"
                            ng-model="data.shapepusher_settings.gridSnap.visible"
                        >
                        visible
                    </label>
                </section>
                <section>
                    <label>item_select:</label><br>
                    <label>
                        <input
                            type="checkbox"
                            ng-model="data.shapepusher_settings.select.enabled"
                        >
                        enabled
                    </label>
                </section>
                <section>
                    <label>box_select:</label><br>
                    <label>
                        <input
                            type="checkbox"
                            ng-model="data.shapepusher_settings.box_select.enabled"
                        >
                        enabled
                    </label><br>
                    <label
                        title="forceItemEnclosure"
                    >
                        <input
                            type="checkbox"
                            ng-model="data.shapepusher_settings.box_select.forceItemEnclosure"
                        >
                        enclosure
                    </label>
                </section>
                <section>
                    <label>move:</label><br>
                    <label>
                        <input
                            type="checkbox"
                            ng-model="data.shapepusher_settings.move.enabled"
                        >
                        enabled
                    </label><br>
                    <label>
                        <input
                            type="checkbox"
                            ng-model="data.shapepusher_settings.move.snap"
                        >
                        snap
                    </label><br>
                    <label>
                        <input
                            type="checkbox"
                            ng-model="data.shapepusher_settings.move.selected"
                        >
                        selected
                    </label>
                </section>
                <br>
            </div>
            <!--******************************************-->
            <div  class="toggle">
                <h3 class="caption">internals:</h3>
    			<pre class="text_small">
******************************
itemActive.id: {{itemActive.id}}
<!-- shapepusher_items: {{data.shapepusher_items | angular2json}} -->
<!-- shapepusher_settings: {{data.shapepusher_settings | angular2json}} -->
******************************
			    </pre>
            </div>
		</div><!-- debugView end -->

        <div
            shapepusher
            items="data.shapepusher_items"
            settings="data.shapepusher_settings"
            item-active="itemActive"
        >
        </div>

    </div>
</body>
</html>
