<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html ng-app="mainApp" ng-strict-di>
<head>
    <title>ShapePusher Example</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <link rel="shortcut icon" href="favicon.ico" />
	<link rel="shortcut icon" type="image/x-icon" href="img/logo/logo.ico" />
	<link rel="shortcut icon" type="image/png" href="img/logo/logo_500x500.png" />
	<link rel="shortcut icon" type="image/svg" href="img/logo/logo.svg" />

    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/app.css">
    <link rel="stylesheet" type="text/css" href="css/debugview.css">
    <link rel="stylesheet" type="text/css" href="css/buttons.css">
    <link rel="stylesheet" type="text/css" href="css/icons.css">
    <!-- <link rel="stylesheet" type="text/css" href="css/symbols.css"> -->

    <script type="text/javascript" charset="UTF-8" src="js/polyfill.js"></script>

    <script type="text/javascript" charset="UTF-8" src="js/angular.js"></script>
    <!--<script type="text/javascript" charset="UTF-8" src="js/angular-resource.js"></script>-->
    <!--<script type="text/javascript" charset="UTF-8" src="js/angular-route.js"></script>-->

    <script type="text/javascript" charset="UTF-8" src="js/app.js"></script>
    <script type="text/javascript" charset="UTF-8" src="js/controllers.js"></script>
    <script type="text/javascript" charset="UTF-8" src="js/myFilters.js"></script>
    <!--<script type="text/javascript" charset="UTF-8" src="js/slightDirectives/myDirectivesTextFileButton.js"></script>-->

    <script type="text/javascript" charset="UTF-8"
        src="js/slightDirectives/ShapePusher/slngTouch.js"
    ></script>

    <script type="text/javascript" charset="UTF-8"
        src="js/slightDirectives/ShapePusher/slSvgGrid.js"
    ></script>

    <script type="text/javascript" charset="UTF-8"
        src="js/slightDirectives/ShapePusher/slShapePusher.js"
    ></script>
    <link rel="stylesheet" type="text/css"
        href="js/slightDirectives/ShapePusher/slShapePusher.css"
    >
    <script type="text/javascript" charset="UTF-8"
        src="js/slightDirectives/ShapePusher/slShapePusherControls.js"
    ></script>
    <link rel="stylesheet" type="text/css"
        href="js/slightDirectives/ShapePusher/slShapePusherControls.css"
    >


    <script type="text/javascript" charset="UTF-8"
        src="js/slightDirectives/TabbedContent/slTabbedContent.js"
    ></script>
    <link rel="stylesheet" type="text/css"
        href="js/slightDirectives/TabbedContent/slTabbedContent.css"
    >


    <!-- mobile specific -->
    <meta
        name="viewport"
        content="
            width=device-width,
            initial-scale=1.0,
            minimum-scale=1.0,
            maximum-scale=1.0,
            user-scalable=no
        "
     />

	<!-- **********
		IPAD specific metas:
		https://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariHTMLRef/Articles/MetaTags.html
	-->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="format-detection" content="telephone=no">
	<!-- ********** -->
</head>
<body
    class="blueocean"
    ng-class="viewStyle.list[data.settings.viewStyle].class"
    ng-controller="MainController"
>
    <div id="MainController" class="app" >
        <sl-tabbed-content
            initial-pane="properties"
        >
            <sl-pane title="debug" class="debugView">
                <div>
                    <label>style:</label>
                    <select
                        ng-model="data.settings.viewStyle"
                        title="switch style"
                        ng-options="
                            vStyleName as vStyle.name for (
                                vStyleName,
                                vStyle
                            ) in viewStyle.list
                        "
                    >
                        <option value="">-- choose style --</option>
                    </select>
                    <br>
                    <button
                        class="button small inline"
                        title="test something"
                        ng-click="testThing()"
                    >
                        show all buttons
                    </button>
                    <br>
                    <br>
                    <div>
                        <section>
                            <label>world:</label><br>
                            <label>width
                                <input
                                    type="number"
                                    inputmode="numeric"
                                    title="width"
                                    min="500"
                                    max="100000"
                                    step="500"
                                    ng-model="data.shapepusher_settings.world.width"
                                    ng-model-options="{
                                        updateOn: 'default blur',
                                        debounce: {'default': 500, 'blur': 0}
                                    }"
                                >
                            </label>
                            <br>
                            <label>
                                height
                                <input
                                    type="number"
                                    inputmode="numeric"
                                    title="height"
                                    min="500"
                                    max="100000"
                                    step="500"
                                    ng-model="data.shapepusher_settings.world.height"
                                    ng-model-options="{
                                        updateOn: 'default blur',
                                        debounce: {'default': 500, 'blur': 0}
                                    }"
                                >
                            </label>
                            <br>
                        </section>
                        <section>
                            <label>pan</label>
                            <br>
                            <label>x</label>
                            <input
                                type="number"
                                inputmode="numeric"
                                title="x"
                                ng-attr-min="
                                    {{data.shapepusher_settings.world.width * -1}}
                                "
                                ng-attr-max="
                                    {{data.shapepusher_settings.world.width}}
                                "
                                step="1"
                                ng-model="data.shapepusher_settings.world.pan.x"
                                ng-model-options="{
                                    updateOn: 'default blur',
                                    debounce: {'default': 500, 'blur': 0}
                                }"
                            /><br>
                            <label>y</label>
                            <input
                                type="number"
                                inputmode="numeric"
                                title="y"
                                ng-attr-min="
                                    {{data.shapepusher_settings.world.height * -1}}
                                "
                                ng-attr-max="
                                    {{data.shapepusher_settings.world.height}}
                                "
                                step="1"
                                ng-model="data.shapepusher_settings.world.pan.y"
                                ng-model-options="{
                                    updateOn: 'default blur',
                                    debounce: {'default': 500, 'blur': 0}
                                }"
                            /><br>
                        </section>
                        <section>
                            <label>zoom</label><br>
                            <label>
                                factor
                                <input
                                    type="number"
                                    inputmode="numeric"
                                    title="zoom"
                                    ng-attr-min="
                                        {{data.shapepusher_settings.world.zoom.min}}
                                    "
                                    ng-attr-max="
                                        {{data.shapepusher_settings.world.zoom.max}}
                                    "
                                    step="0.1"
                                    ng-model="data.shapepusher_settings.world.zoom.factor"
                                    ng-model-options="{
                                        updateOn: 'default blur',
                                        debounce: {'default': 500, 'blur': 0}
                                    }"
                                />
                            </label>
                        </section>
                        <section>
                            <label>grid</label><br>
                            <label>
                                stepSize
                                <input
                                    type="number"
                                    inputmode="numeric"
                                    title="stepSize"
                                    min="250"
                                    max="100000"
                                    step="250"
                                    ng-model="data.shapepusher_settings.grid.stepSize"
                                    ng-model-options="{
                                        updateOn: 'default blur',
                                        debounce: {'default': 500, 'blur': 0}
                                    }"
                                >
                            </label>
                        </section>
                        <section>
                            <label>gridSnap</label><br>
                            <label>
                                stepSize
                                <input
                                    type="number"
                                    inputmode="numeric"
                                    title="stepSize"
                                    min="250"
                                    max="100000"
                                    step="250"
                                    ng-model="data.shapepusher_settings.gridSnap.stepSize"
                                    ng-model-options="{
                                        updateOn: 'default blur',
                                        debounce: {'default': 500, 'blur': 0}
                                    }"
                                >
                            </label>
                        </section>
                    </div>

                </div>
                <!--******************************************-->
                <div  class="toggle">
                    <h3 class="caption">internals:</h3>
        			<pre class="text_small">
******************************
itemActive.id: {{itemActive.id}}
<!-- shapepusher_items: {{data.shapepusher_items | angular2json}} -->
<!-- shapepusher_settings: {{data.shapepusher_settings | angular2json}} -->
******************************
    			    </pre>
                </div>
    		</sl-pane><!-- debugView end -->

            <sl-pane title="properties">
                <button
                    class="button small inline"
                    title="test something"
                    ng-click="setProperties()"
                >
                    set properties for selected items
                </button>
                <br>
                itemActive.id: {{itemActive.id}}<br>
                more to come...
                <section>
                    <label>position</label><br>
                    <label>
                        x
                        <input
                            type="number"
                            inputmode="numeric"
                            title="x"
                            min="0"
                            max="{{data.shapepusher_settings.world.width}}"
                            step="1"
                            ng-model="itemActive.position.x"
                            ng-model-options="{
                                updateOn: 'default blur',
                                debounce: {'default': 500, 'blur': 0}
                            }"
                        >
                    </label><br>
                    <label>
                        y
                        <input
                            type="number"
                            inputmode="numeric"
                            title="y"
                            min="0"
                            max="{{data.shapepusher_settings.world.height}}"
                            step="1"
                            ng-model="itemActive.position.y"
                            ng-model-options="{
                                updateOn: 'default blur',
                                debounce: {'default': 500, 'blur': 0}
                            }"
                        >
                    </label>
                </section>
                <section>
                    <label>color</label><br>
                    <label>
                        red
                        <input
                            type="number"
                            inputmode="numeric"
                            title="red"
                            min="0"
                            max="255"
                            step="1"
                            ng-model="itemActive.color.red"
                            ng-model-options="{
                                updateOn: 'default blur',
                                debounce: {'default': 500, 'blur': 0}
                            }"
                        >
                    </label><br>
                    <label>
                        green
                        <input
                            type="number"
                            inputmode="numeric"
                            title="green"
                            min="0"
                            max="255"
                            step="1"
                            ng-model="itemActive.color.green"
                            ng-model-options="{
                                updateOn: 'default blur',
                                debounce: {'default': 500, 'blur': 0}
                            }"
                        >
                    </label><br>
                    <label>
                        blue
                        <input
                            type="number"
                            inputmode="numeric"
                            title="blue"
                            min="0"
                            max="255"
                            step="1"
                            ng-model="itemActive.color.blue"
                            ng-model-options="{
                                updateOn: 'default blur',
                                debounce: {'default': 500, 'blur': 0}
                            }"
                        >
                    </label>
                </section>

            </sl-pane><!-- properties end -->
        </sl-tabbed-content>

        <div
            sl-shape-pusher
            items="data.shapepusher_items"
            settings="data.shapepusher_settings"
            item-active="itemActive"
        >
        </div>
        <div
            sl-shape-pusher-controls
            settings="data.shapepusher_settings"
            show-buttons="showButtons"
        >
        </div>


    </div>
</body>
</html>
