@charset "utf-8";

/******************************************/
/**  slTabbedContent styling       **/
/******************************************/

sl-tabbed-content {
    display:                block;

    border-radius:          0.5em;
    border-style:           none;
    border-width:           0.1em;
    border-color:           rgb(0, 0, 0);
    border-color:           rgba(0, 0, 0, 0.5);
}

sl-tabbed-content .tabbed-content{
    display:                block;

    padding:                0 0.5em 0.5em 0.5em;

    border-radius:          0 0 0.5em 0.5em;
    border-style:           none solid solid solid;
    border-width:           0.1em;
    border-color:           rgb(0, 0, 0);
    border-color:           rgba(0, 0, 0, 0.5);
    border-top-color:       rgba(0, 0, 0, 0.0);
}


sl-pane > div {
    display:                block;
}


nav.horizontal {
    order:                  0;
    flex:                   0 1 auto;
    align-self:             auto;

    margin:                 0;
    padding:                0;
}

nav.horizontal > ul {
    /*setup ul as flex container*/
    /*for safari*/
    display:                -webkit-flex;
    -webkit-flex-direction:         row;
    -webkit-flex-wrap:              nowrap;
    -webkit-justify-content:        center;
    -webkit-align-items:            center;
    -webkit-align-content:          space-around;
    /*for all others*/
    display:                flex;
    flex-direction:         row;
    flex-wrap:              nowrap;
    justify-content:        center;
    align-items:            center;
    align-content:          space-around;

    padding:                0;
    margin:                 0 0.5em;
}

nav.horizontal > ul > li {
    /*setup li as flex item*/
    /*for safari*/
    -webkit-order:                  0;
    -webkit-flex:                   0 1 auto;
    -webkit-align-self:             auto;
    /*for all others*/
    order:                  0;
    flex:                   0 1 auto;
    /*flex:                   1 1 auto;*/
    align-self:             auto;

    list-style-type:        none;

    text-align:             center;

    padding:                0.25em 0.5em;

    /*border*/
    border-radius:          0.5em 0.5em 0 0;
    border-style:           solid;
    border-width:           0.1em;
    border-color:           rgb(0, 0, 0);
    border-color:           rgba(0, 0, 0, 0.5);

    /*box-shadow:             0 -0.05em 0.05em rgba(0, 0, 0, 1) inset;*/
}
nav.horizontal > ul > li.spacer {
    /*setup li as flex item*/
    /*for safari*/
    -webkit-flex:                   1 1 auto;
    /*for all others*/
    flex:                   1 1 auto;

    /*border - hide all but bottom*/
    border-top-color:       rgba(0, 0, 0, 0);
    border-right:           none;
    border-left:            none;
}

nav.horizontal > ul > li.active {
    border-bottom-color:    rgba(0, 0, 0, 0);
    /*box-shadow:             0 -0.05em 0.05em rgba(0, 0, 0, 0) inset;*/
}

/* top border corner styles  */
.border-corners {
    /*setup ul as flex container*/
    /*for safari*/
    display:                -webkit-flex;
    -webkit-flex-direction:         row;
    -webkit-flex-wrap:              nowrap;
    -webkit-justify-content:        space-between;
    -webkit-align-items:            stretch;
    -webkit-align-content:          flex-start;
    /*for all others*/
    display:                flex;
    flex-direction:         row;
    flex-wrap:              nowrap;
    justify-content:        space-between;
    align-items:            stretch;
    align-content:          flex-start;

    height:                 0.5em;
}

.border-corners div {
    position:               relative;
    /*setup flex item*/
    /*for safari*/
    -webkit-order:          0;
    -webkit-flex:           0 1 auto;
    -webkit-align-self:     auto;
    /*for all others*/
    order:                  0;
    flex:                   0 1 auto;
    align-self:             auto;

    width:                  0.5em;
    height:                 0.5em;
    
    position:               relative;
    /* move border-width to top*/
    top:                    -0.05em;

    /*border*/
    border-radius:          0.5em;
    border-style:           solid;
    border-width:           0.1em;
    border-color:           rgb(0, 0, 0);
    border-color:           rgba(0, 0, 0, 0.5);
}

.border-corners div:first-child {
    border-radius:          0.5em 0 0 0;
    border-right-color:     rgba(0, 0, 0, 0);
    border-bottom-color:    rgba(0, 0, 0, 0);
}

.border-corners div:last-child {
    border-radius:          0 0.5em 0 0;
    border-left-color:     rgba(0, 0, 0, 0);
    border-bottom-color:    rgba(0, 0, 0, 0);
}
