<div class="position_container">
    <!-- world:{{world.width}} {{world.height}} <br/>
    grid:
        {{data.grid.xArray  | angular2json}}
        {{data.grid.yArray  | angular2json}} <br/> -->
        <!-- items:
        <pre>{{items | angular2json}}</pre>
        settings:
        <pre>{{settings | angular2json}}</pre> -->
        <!-- ng-class="{
            'visible': settings.grid.visible,
            'numbers': settings.grid.numbers,
        }" -->
    <div class="svg_container">
        <svg
            zoomAndPan="magnify"
            ng-attr-view_box="0 0 {{settings.world.width}} {{settings.world.height}}"
        >
            <g
                ng-if="settings.grid.visible"
                id="grid1"
                class="grid"
                ng-class="{'numbers': settings.grid.numbers}"
            >
                <g
                    class="xArray"
                    ng-repeat="
                        xPos in settings.grid.xArray
                        track by xPos
                    "
                >
                    <line
                        ng-attr-x1="{{xPos}}"
                        y1="0"
                        ng-attr-x2="{{xPos}}"
                        y2="100%"
                    />
                    <text
                        ng-attr-x="{{xPos}}"
                        ng-attr-y="{{(settings.grid.stepSize/2)}}"
                    >
                        {{xPos}}
                    </text>
                </g>

                <g
                    class="yArray"
                    ng-repeat="
                        yPos in settings.grid.yArray
                        track by yPos
                    "
                >
                    <line
                        x1="0"
                        ng-attr-y1="{{yPos}}"
                        x2="100%"
                        ng-attr-y2="{{yPos}}"
                    />
                    <text
                        ng-attr-x="{{(settings.grid.stepSize/2)}}"
                        ng-attr-y="{{yPos}}"
                    >
                        {{yPos}}
                    </text>
                </g>

            </g>

            <!-- <rect
                x="500"
                y="500"
                width="500"
                height="500"
                id="test"
                style="fill:rgba(0,0,0,0.2);"
            />
            <text
                x="500"
                y="500"
            >
                Hallo Welt :-) '{{itemSize.height}}'
            </text> -->

            <svg
                class="item"
                ng-repeat="
                    (itemID, itemData) in items
                    track by itemData.id
                "
                ng-class="{
                    'selected': itemData.selected,
                    'active': itemData == itemActive,
                }"
                ng-mousedown="item_mousedown($event, itemData)"
                ng-attr-x="{{itemData.position.x}}"
                ng-attr-y="{{itemData.position.y}}"
                ng-attr-width="{{settings.item.width}}"
                ng-attr-height="{{settings.item.height}}"
                id="{{itemData.id}}"
            >
                <rect
                    width="100%"
                    height="100%"
                />
                <text
                    x="50%"
                    y="50%"
                    dy="0.35em"
                >
                    {{itemData.id}}
                </text>
            </svg>
            <rect
                id="box_select"
                class="box_select"
                x="1000"
                y="500"
                width="500"
                height="500"
            />
        </svg>
    </div>
</div>
