<div class="position_container">
    <!-- world:{{world.width}} {{world.height}} <br/>
    grid:
        {{data.grid.xArray  | angular2json}}
        {{data.grid.yArray  | angular2json}} <br/> -->
        <!-- items:
        <pre>{{items | angular2json}}</pre>
        settings:
        <pre>{{settings | angular2json}}</pre> -->
        <!-- ng-class="{
            'visible': settings.grid.visible,
            'numbers': settings.grid.numbers,
        }" -->
    <div>
        controls:
        <label>x</label>
        <input
            type="number"
            inputmode="numeric"
            title="x"
            min="0"
            ng-attr-max="{{settings.world.width}}"
            step="1"
            ng-model="settings.world.pan.x"
            ng-model-options="{
                updateOn: 'default blur',
                debounce: {'default': 500, 'blur': 0}
            }"
        />
        <label>y</label>
        <input
            type="number"
            inputmode="numeric"
            title="y"
            min="0"
            ng-attr-max="{{settings.world.height}}"
            step="1"
            ng-model="settings.world.pan.y"
            ng-model-options="{
                updateOn: 'default blur',
                debounce: {'default': 500, 'blur': 0}
            }"
        />
        <label>zoom</label>
        <input
            type="number"
            inputmode="numeric"
            title="zoom"
            min="0.5"
            max="100"
            step="0.1"
            ng-model="settings.world.zoom"
            ng-model-options="{
                updateOn: 'default blur',
                debounce: {'default': 500, 'blur': 0}
            }"
        />
    </div>
    <div class="svg_container">
        <!-- <svg
            zoomAndPan="magnify"
            ng-attr-view_box="
                0
                0
                {{settings.world.width}}
                {{settings.world.height}}
            "
        > -->
        <svg
            zoomAndPan="magnify"
            ng-attr-view_box="
                {{settings.world.pan.x}}
                {{settings.world.pan.y}}
                {{settings.world.width / settings.world.zoom}}
                {{settings.world.height / settings.world.zoom}}
            "
        >
            <g
                ng-if="settings.grid.visible"
                id="grid1"
                class="grid"
                ng-class="{'numbers': settings.grid.numbers}"
            >
                <g
                    class="xArray"
                    ng-repeat="
                        xPos in settings.grid.xArray
                        track by xPos
                    "
                >
                    <line
                        ng-attr-x1="{{xPos}}"
                        y1="0"
                        ng-attr-x2="{{xPos}}"
                        ng-attr-y2="{{settings.world.height}}"
                    />
                    <text
                        ng-attr-x="{{xPos}}"
                        ng-attr-y="{{(settings.grid.stepSize/2)}}"
                    >
                        {{xPos}}
                    </text>
                </g>

                <g
                    class="yArray"
                    ng-repeat="
                        yPos in settings.grid.yArray
                        track by yPos
                    "
                >
                    <!-- x2="100%" -->
                    <line
                        x1="0"
                        ng-attr-y1="{{yPos}}"
                        ng-attr-x2="{{settings.world.width}}"
                        ng-attr-y2="{{yPos}}"
                    />
                    <text
                        ng-attr-x="{{(settings.grid.stepSize/2)}}"
                        ng-attr-y="{{yPos}}"
                    >
                        {{yPos}}
                    </text>
                </g>

            </g>
            <g
                ng-if="settings.gridSnap.visible"
                id="gridSnap"
                class="gridSnap"
            >
                <line
                    class="xArray"
                    ng-repeat="
                        xPos in settings.gridSnap.xArray
                        track by xPos
                    "
                    ng-attr-x1="{{xPos}}"
                    y1="0"
                    ng-attr-x2="{{xPos}}"
                    ng-attr-y2="{{settings.world.height}}"
                />
                <line
                    class="yArray"
                    ng-repeat="
                        yPos in settings.gridSnap.yArray
                        track by yPos
                    "
                    x1="0"
                    ng-attr-y1="{{yPos}}"
                    ng-attr-x2="{{settings.world.width}}"
                    ng-attr-y2="{{yPos}}"
                />
            </g>

            <!-- <rect
                x="500"
                y="500"
                width="500"
                height="500"
                id="test"
                style="fill:rgba(0,0,0,0.2);"
            />
            <text
                x="500"
                y="500"
            >
                Hallo Welt :-) '{{itemSize.height}}'
            </text> -->

            <!--ng-mousedown="item_mousedown($event, itemData)"-->
            <!--ng-touchstart="testCall($event, itemData)"-->
            <svg
                class="item"
                ng-repeat="
                    (itemID, itemData) in items
                    track by itemData.id
                "
                ng-class="{
                    'selected': itemData.selected,
                    'active': itemData == itemActive,
                }"
                ng-touchstart="item_moving_start($event, itemData)"
                ng-mousedown="item_moving_start($event, itemData)"
                ng-attr-x="{{itemData.position.x}}"
                ng-attr-y="{{itemData.position.y}}"
                ng-attr-width="{{settings.item.width}}"
                ng-attr-height="{{settings.item.height}}"
                id="{{itemData.id}}"
            >
                <rect
                    width="100%"
                    height="100%"
                />
                <text
                    x="50%"
                    y="50%"
                    dy="0.35em"
                >
                    {{itemData.id}}
                </text>
            </svg>
            <rect
                id="box_select"
                class="box_select"
                x="1000"
                y="500"
                width="500"
                height="500"
            />
        </svg>
    </div>
</div>
