<div class="position_container">
    <!-- <div
        class="item_container"
        ng-style="{
            'width': (data.world.width*2 + 'em'),
            'height': (data.world.height*2 + 'em')
        }"
    >
        <div
            class="item"
            ng-repeat="
                (itemID, itemData) in data.items
                track by itemData.id"
            ng-class="{
                'selected': itemData.selected,
                'active': itemData == itemActive,
            }"
            ng-click="toggleSelection(itemData)"
            ng-style="{
                'left': (itemData.position.x*2 + 'em'),
                'top': (itemData.position.y*2 + 'em')
            }"
        >
            <pre>{{itemData  | angular2json}}</pre>
            {{itemData.id}}
        </div>
    </div>
    <hr/> -->
    <!-- world:{{data.world.width}} {{data.world.height}} <br/>
    grid:
        {{data.world.grid.xArray  | angular2json}}
        {{data.world.grid.yArray  | angular2json}} <br/> -->
    <div
        class="svg_container"
    >

        <svg
            zoomAndPan="magnify"
            ng-attr-view_box="0 0 {{data.world.width}} {{data.world.height}}"
        >
            <g id="grid1" class="grid">
                <line
                    ng-repeat="
                        xPos in data.world.grid.xArray
                        track by xPos
                    "
                    ng-attr-x1="{{xPos}}"
                    y1="0"
                    ng-attr-x2="{{xPos}}"
                    y2="100%"
                />
                <line
                    ng-repeat="
                        yPos in data.world.grid.yArray
                        track by yPos
                    "
                    x1="0"
                    ng-attr-y1="{{yPos}}"
                    x2="100%"
                    ng-attr-y2="{{yPos}}"
                />
            </g>

            <!--
                svg filter effects:

                http://www.w3schools.com/svg/svg_feoffset.asp
                http://stackoverflow.com/questions/6088409/svg-drop-shadow-using-css3
            -->

            <!--
                width="500"
                height="500"
                ng-attr-width="{{itemData.size.width}}"
                ng-attr-height="{{itemData.size.height}}"
                ng-attr-width="{{itemSize.width}}"
                ng-attr-height="{{itemSize.height}}"
            -->
            <rect
                x="500"
                y="500"
                width="500"
                height="500"
                id="test"
                style="fill:rgba(0,0,0,0.2);"
            />
            <text
                x="500"
                y="500"
            >
                Hallo Welt :-) '{{itemSize.height}}'
            </text>

            <svg
                class="item"
                ng-repeat="
                    (itemID, itemData) in data.items
                    track by itemData.id
                "
                ng-class="{
                    'selected': itemData.selected,
                    'active': itemData == itemActive,
                }"
                ng-click="toggleSelection(itemData)"
                ng-attr-x="{{itemData.position.x}}"
                ng-attr-y="{{itemData.position.y}}"
                ng-attr-width="{{itemSize.width}}"
                ng-attr-height="{{itemSize.height}}"
                id="{{itemData.id}}"
            >
                <rect
                    width="100%"
                    height="100%"
                />
                <text
                    x="50%"
                    y="50%"
                    dy="0.35em"
                >
                    {{itemData.id}}
                </text>
            </svg>

        </svg>
    </div>
</div>
