<div class="position_container">
    <section>
        <label>world:</label><br>
        <label>width</label>
        <input
            type="number"
            inputmode="numeric"
            title="width"
            min="500"
            max="100000"
            step="500"
            ng-model="data.shapepusher_settings.world.width"
            ng-model-options="{
                updateOn: 'default blur',
                debounce: {'default': 500, 'blur': 0}
            }"
        ><br>
        <label>height</label>
        <input
            type="number"
            inputmode="numeric"
            title="height"
            min="500"
            max="100000"
            step="500"
            ng-model="data.shapepusher_settings.world.height"
            ng-model-options="{
                updateOn: 'default blur',
                debounce: {'default': 500, 'blur': 0}
            }"
        ><br>
        <section>
        <label>pan</label><br>
            <label>x</label>
            <input
                type="number"
                inputmode="numeric"
                title="x"
                ng-attr-min="
                    {{data.shapepusher_settings.world.width * -1}}
                "
                ng-attr-max="
                    {{data.shapepusher_settings.world.width}}
                "
                step="1"
                ng-model="data.shapepusher_settings.world.pan.x"
                ng-model-options="{
                    updateOn: 'default blur',
                    debounce: {'default': 500, 'blur': 0}
                }"
            /><br>
            <label>y</label>
            <input
                type="number"
                inputmode="numeric"
                title="y"
                ng-attr-min="
                    {{data.shapepusher_settings.world.height * -1}}
                "
                ng-attr-max="
                    {{data.shapepusher_settings.world.height}}
                "
                step="1"
                ng-model="data.shapepusher_settings.world.pan.y"
                ng-model-options="{
                    updateOn: 'default blur',
                    debounce: {'default': 500, 'blur': 0}
                }"
            /><br>
            <label>
                <input
                    type="checkbox"
                    ng-model="data.shapepusher_settings.world.pan.enabled"
                >
                enabled
            </label><br>
        </section>
        <section>
            <label>zoom</label><br>
            <label>factor</label>
            <input
                type="number"
                inputmode="numeric"
                title="zoom"
                ng-attr-min="
                    {{data.shapepusher_settings.world.zoom.min}}
                "
                ng-attr-max="
                    {{data.shapepusher_settings.world.zoom.max}}
                "
                step="0.1"
                ng-model="data.shapepusher_settings.world.zoom.factor"
                ng-model-options="{
                    updateOn: 'default blur',
                    debounce: {'default': 500, 'blur': 0}
                }"
            /><br>
            <label>
                <input
                    type="checkbox"
                    ng-model="data.shapepusher_settings.world.zoom.enabled"
                >
                enabled
            </label><br>
            <label>
                <input
                    type="checkbox"
                    ng-model="data.shapepusher_settings.world.zoom.toCursor"
                >
                toCursor
            </label>
        </section>
    </section>
    <section>
        <label>grid:</label><br>
        <label>stepSize</label>
        <input
            type="number"
            inputmode="numeric"
            title="stepSize"
            min="250"
            max="100000"
            step="250"
            ng-model="data.shapepusher_settings.grid.stepSize"
            ng-model-options="{
                updateOn: 'default blur',
                debounce: {'default': 500, 'blur': 0}
            }"
        ><br>
        <label>
            <input
                type="checkbox"
                ng-model="data.shapepusher_settings.grid.visible"
            >
            visible
        </label><br>
        <label>
            <input
                type="checkbox"
                ng-model="data.shapepusher_settings.grid.numbers"
            >
            numbers
        </label><br>
    </section>
    <section>
        <label>gridSnap:</label><br>
        <label>stepSize</label>
        <input
            type="number"
            inputmode="numeric"
            title="stepSize"
            min="250"
            max="100000"
            step="250"
            ng-model="data.shapepusher_settings.gridSnap.stepSize"
            ng-model-options="{
                updateOn: 'default blur',
                debounce: {'default': 500, 'blur': 0}
            }"
        ><br>
        <label>
            <input
                type="checkbox"
                ng-model="data.shapepusher_settings.gridSnap.visible"
            >
            visible
        </label>
    </section>
    <section>
        <label>item_select:</label><br>
        <label>
            <input
                type="checkbox"
                ng-model="data.shapepusher_settings.select.enabled"
            >
            enabled
        </label>
    </section>
    <section>
        <label>box_select:</label><br>
        <label>
            <input
                type="checkbox"
                ng-model="data.shapepusher_settings.box_select.enabled"
            >
            enabled
        </label><br>
        <label
            title="forceItemEnclosure"
        >
            <input
                type="checkbox"
                ng-model="data.shapepusher_settings.box_select.forceItemEnclosure"
            >
            enclosure
        </label>
    </section>
    <section>
        <label>move:</label><br>
        <label>
            <input
                type="checkbox"
                ng-model="data.shapepusher_settings.move.enabled"
            >
            enabled
        </label><br>
        <label>
            <input
                type="checkbox"
                ng-model="data.shapepusher_settings.move.snap"
            >
            snap
        </label><br>
        <label>
            <input
                type="checkbox"
                ng-model="data.shapepusher_settings.move.selected"
            >
            selected
        </label>
    </section>
</div>
