@charset "utf-8";

/******************************************/
/**  shape pusher directive styling     **/
/******************************************/

div[sl-shape-pusher]{
	/*flex box item (of app)*/
	order: 					0;
    flex: 					1 1 auto;
    align-self: 			auto;

	/*position: 				absolute;
	margin: 				0;
	padding: 				0;
	left:					14rem;
	top:					0;
	right:					0;
	bottom:					0;*/
}

/* if debugView is hidden on small screens display full width */
/*@media screen and (max-width: 1300px) {
	div[sl-shape-pusher]{
		left:					0;
    }
}*/

div[sl-shape-pusher] .position_container{
	/*position: 				absolute;

	left:					0;
	top:					0;
	right:					0;
	bottom:					0;*/

	margin: 				0;
	padding: 				0;

}

div[sl-shape-pusher] .svg_container{
	/*position: 				absolute;


	left:					1em;
	top:					1em;
	right:					1em;
	bottom:					1em;*/

	margin: 				0;
	padding: 				0;

	border-color:			rgb(0, 0, 0);
	border-color:			rgba(0, 0, 0, 0.1);
	border-width: 			0.5em;
	border-style: 			solid;
	border-radius: 			1em;
}

[sl-shape-pusher] svg:not(.item) {
	width: 					100%;
	height: 				100%;

	background-color: 		rgb(0, 0, 0);
	background-color: 		rgba(0, 0, 0, 0.1);

	font-size:				10em;

}

/******************************************/

[sl-shape-pusher] svg text {
	color:					rgb(0, 0, 0);
	/*font-size:				0.01em;*/
	font-size:				1em;
	/*font-size:				30%;*/
	line-height:			100%;
	font-family:			OverlockRegular, Verdana;
	/*text-align:				center;*/
	text-anchor:			middle;
	/*dy:						"0.35em";*/
	text-shadow:			none;
}

/******************************************/
/* item */

[sl-shape-pusher] .item {
	/*border-color:			rgb(0, 0, 0);
	border-width: 			0.5em;
	border-style: 			solid;
	border-radius: 			1em;*/
	cursor: 				pointer;
}

[sl-shape-pusher] .item rect {
	/*width: 1;
	height: 1;*/
	fill: 					rgb(230, 0, 0);
	/*fill: 					rgba(255, 0, 0, 0.5);*/

	stroke: 				rgb(0, 0, 0);
	stroke-width: 			50;
}

/*[sl-shape-pusher] .item:hover rect,
[sl-shape-pusher] .item.selected.active:hover rect,
[sl-shape-pusher] .item.selected:hover rect {
	stroke:					rgba(255, 255, 0, 0.5);
}*/

[sl-shape-pusher] svg.item:hover {
	/* similar syntax as box-shadow */
	-webkit-filter:
				drop-shadow( 0 0 0.1em rgb(255, 240, 0) )
				drop-shadow( 0 0 0.5em rgba(255, 200, 0, 1) );
            filter:
				drop-shadow( 0 0 0.1em rgb(255, 240, 0) )
				drop-shadow( 0 0 0.5em rgba(255, 200, 0, 1) );
}


[sl-shape-pusher] .item.selected rect{
	stroke:					rgb(255, 140, 0);
}

[sl-shape-pusher] .item.selected.active rect{
	stroke:					rgb(140, 255, 0);
}

/******************************************/
/* box select*/
[sl-shape-pusher] .box_select {
	fill:					rgba(255, 220, 0, 0.3);
	stroke:					rgb(255, 220, 0);
	stroke-width:			50;
	stroke-linejoin: 		round;
	stroke-linecap: 		round;
	/*stroke-dasharray:		none;*/
	stroke-dasharray:		100 100;
}

[sl-shape-pusher] .box_select:not(.active) {
	stroke:					none;
	fill:					none;
}

/******************************************/
/* grid style */

[sl-shape-pusher] .grid line {
	fill: 					none;

	stroke: 				rgba(0, 0, 0, 0.5);
	stroke-width: 			10;
}

[sl-shape-pusher] .gridSnap line {
	fill: 					none;

	stroke: 				rgba(0, 0, 0, 0.5);
	stroke-width: 			2;
}

/*[sl-shape-pusher] .grid:not(.visible) line {
	stroke: 				none;
}*/

[sl-shape-pusher] .grid text {
	fill: 				rgba(0, 0, 0, 0.5);
	font-size: 			0.8em;
}

[sl-shape-pusher] .grid:not(.numbers) text {
	fill: 				transparent;
}

[sl-shape-pusher] .grid .xArray text {
	transform: 				rotate(90deg)
							translate(0, -2.2em);
	transform-origin: 		50% 50% 0;
}
