@charset "utf-8";

/******************************************/
/**  slShapePusherControls styling       **/
/******************************************/

div[sl-shape-pusher-controls] {
	/*flex box item (of app)*/
	order: 					0;
    flex: 					0 1 auto;
    align-self: 			auto;

	height: 100%;
	margin: 0;

	/*own styles*/
	font-size: 				0.9em;
	line-height: 			100%;
}

div[sl-shape-pusher-controls] .flex_container {
	/* for safari: */
	display: 						-webkit-flex;
    -webkit-flex-direction: 		row;
	-webkit-flex-wrap:				nowrap;
	-webkit-justify-content:		flex-start;
	-webkit-align-content:			center;
	-webkit-align-items:			stretch;
	/* for all others ;-) */
	display:				flex;
	flex-direction:			column;
	flex-wrap:				nowrap;
	justify-content:		flex-start;
	align-content:			center;
	align-items:			center;

	height: 100%;
	margin: 0;
	overflow-x: auto;
	overflow-y: scroll;
}

div[sl-shape-pusher-controls] section {
	/* for safari: */
	-webkit-order:					0;
	-webkit-flex: 					0 1 auto;
	-webkit-align-self: 			auto;
	/* for all others ;-) */
	order: 					0;
    flex: 					0 1 auto;
    align-self: 			auto;
}

div[sl-shape-pusher-controls] h4 {
	margin:					0.5em auto;
}


/* convert input type checkbox to button */

div[sl-shape-pusher-controls] input[type="checkbox"] ,
div[sl-shape-pusher-controls] input[type="radio"] {
    display: none;
}

/* main button definition is in app.css */
/*div[sl-shape-pusher-controls] input[type='checkbox'] ~ .button {*/
div[sl-shape-pusher-controls] .button {
	position: 				relative;

	font-size: 				1.5em;
	line-height: 			2em;

	width:					2em;
	height: 				2em;

	margin: 				0.1em auto;
	padding: 				0;

	overflow:               hidden;


	border-radius: 			0.5em;

	/* flex_container used to align symbol in button center */
	display:				flex;
	flex-direction:			row;
	flex-wrap:				nowrap;
	justify-content:		center;
	align-content:			center;
	align-items:			center;
}

div[sl-shape-pusher-controls] input[type='checkbox'] ~ .text ,
div[sl-shape-pusher-controls] input[type='radio'] ~ .text {
	display:					none;
}

div[sl-shape-pusher-controls] .button .text {
	/*flex_item*/
	order: 0;
    flex: 0 1 auto;
    align-self: auto;

	font-size: 					0.6em;
}

div[sl-shape-pusher-controls] .button[class*='icon-'] .text {
	display:					none;
}

div[sl-shape-pusher-controls] fieldset {
    border: 0.1em solid rgba(0, 0, 0, 0.3);
    border-radius: 0.5em;
}

/* special button element position */

div[sl-shape-pusher-controls] button.button[class^="icon-"]::before,
div[sl-shape-pusher-controls] button.button[class*=" icon-"]::before {
    width: 						1.35em;
}


/*state deactivated*/
div[sl-shape-pusher-controls] input[type='checkbox']:checked ~ .button ,
div[sl-shape-pusher-controls] input[type='radio']:checked ~ .button {
	color:						inherit;
}

div[sl-shape-pusher-controls] input[type='checkbox']:not(:checked) ~ .button ,
div[sl-shape-pusher-controls] input[type='radio']:not(:checked) ~ .button {
	color:						rgb(0, 0, 0);
	color:						rgba(0, 0, 0, 0.2);
}

.blueocean div[sl-shape-pusher-controls] input[type='checkbox']:not(:checked) ~ .button ,
.blueocean div[sl-shape-pusher-controls] input[type='radio']:not(:checked) ~ .button {
	color:						rgb(0, 100, 200);
	color:						rgba(0, 200, 255, 0.4);
}

/* overlay icons */
.position-icon-overlay.item-enclosure {
	bottom: 					0em;
	left:						1.1em;

	font-size: 					0.5em;
}
