<div class="flex_container">
    <section>
        <h4
            ng-if="
                showButtons.pan_zoom_home ||
                showButtons.pan_enabled ||
                showButtons.zoom_enabled ||
                showButtons.zoom_toCursor
            "
        >pan&zoom</h4>
        <button
            title="reset pan &amp; zoom"
            type="button"
            class="button icon-home"
            ng-click="resetPanZoom($event)"
            ng-if="showButtons.pan_zoom_home"
        >
            <span class="text">
                move
            </span>
        </button>
        <label
            title="toggle pan"
            ng-if="showButtons.pan_enabled"
        >
            <input
                type="checkbox"
                ng-model="settings.world.pan.enabled"
            >
            <span class="button icon-arrows-move">
                <span class="text">
                    move
                </span>
            </span>
            <span class="text">
                pan move
            </span>
        </label>
        <label
            title="toggle zoom"
            ng-if="showButtons.zoom_enabled"
        >
            <input
                type="checkbox"
                ng-model="settings.world.zoom.enabled"
            >
            <span class="button icon-search">
                <span class="text">
                    zoom
                </span>
            </span>
            <span class="text">
                zoom
            </span>
        </label>
        <label
            title="toggle zoom to cursor"
            ng-if="showButtons.zoom_toCursor"
        >
            <input
                type="checkbox"
                ng-model="settings.world.zoom.toCursor"
            >
            <span class="button icon-target">
                <span class="text">
                    zoom toCursor
                </span>
            </span>
            <span class="text">
                zoom toCursor
            </span>
        </label>
    </section>
    <section>
        <h4
            ng-if="
                showButtons.grid_visible ||
                showButtons.grid_numbers
            "
        >grid</h4>
        <label
            title="toggle grid visibility"
            ng-if="showButtons.grid_visible"
        >
            <input
                type="checkbox"
                ng-model="settings.grid.visible"
            >
            <span class="button icon-eye">
                <span class="text">
                    visible
                </span>
            </span>
            <span class="text">
                visible
            </span>
        </label>
        <label
            title="toggle grid numbers"
            ng-if="showButtons.grid_numbers"
        >
            <input
                type="checkbox"
                ng-model="settings.grid.numbers"
            >
            <span class="button">
                <span class="text">
                    1000
                </span>
            </span>
            <span class="text">
                numbers
            </span>
        </label>
    </section>
    <section>
        <h4
            ng-if="showButtons.gridSnap_visible"
        >gridSnap</h4>
        <label
            title="toggle gridSnap visibility"
            ng-if="showButtons.gridSnap_visible"
        >
            <input
                type="checkbox"
                ng-model="settings.gridSnap.visible"
            >
            <span class="button icon-eye">
                <span class="text">
                    visible
                </span>
            </span>
            <span class="text">
                visible
            </span>
        </label>
    </section>
    <section>
        <h4
            ng-if="
                showButtons.select_enabled ||
                showButtons.move_enabled ||
                showButtons.move_snap ||
                showButtons.move_selected
            "
        >item</h4>
        <label
            title="toggle item select"
            ng-if="showButtons.select_enabled"
        >
            <input
                type="checkbox"
                ng-model="settings.select.enabled"
            >
            <span class="button icon-mouse">
                <span class="text">
                    item select
                </span>
            </span>
            <span class="text">
                item select
            </span>
        </label>
        <label
            title="toggle item move"
            ng-if="showButtons.move_enabled"
        >
            <input
                type="checkbox"
                ng-model="settings.move.enabled"
            >
            <span class="button icon-hand">
                <span class="text">
                    item move
                </span>
            </span>
            <span class="text">
                item move
            </span>
        </label>
        <label
            title="toggle item move snap"
            ng-if="showButtons.move_snap"
        >
            <input
                type="checkbox"
                ng-model="settings.move.snap"
            >
            <span class="button icon-magnet">
                <span class="text">
                    item move snap
                </span>
            </span>
            <span class="text">
                item move snap
            </span>
        </label>
        <label
            title="toggle item move selected"
            ng-if="showButtons.move_selected"
        >
            <input
                type="checkbox"
                ng-model="settings.move.selected"
            >
            <span class="button icon-box-select">
                <span class="position-icon-overlay icon-hand"></span>
                <span class="text">
                    item move selected
                </span>
            </span>
            <span class="text">
                item move selected
            </span>
        </label>
    </section>
    <section>
        <h4
            ng-if="
                showButtons.box_select_enabled ||
                showButtons.box_select_forceItemEnclosure
            "
        >box select</h4>
        <label
            title="toggle box select"
            ng-if="showButtons.box_select_enabled"
        >
            <input
                type="checkbox"
                ng-model="settings.box_select.enabled"
            >
            <span class="button icon-box-select">
                <span class="text">
                    box select
                </span>
            </span>
            <span class="text">
                box select
            </span>
        </label>
        <label
            title="toggle box select item enclosure"
            ng-if="showButtons.box_select_forceItemEnclosure"
        >
            <input
                type="checkbox"
                ng-model="settings.box_select.forceItemEnclosure"
            >
            <span class="button icon-box-select">
                <span class="position-icon-overlay icon-doc item-enclosure"></span>
                <span class="text">
                    box select item enclosure
                </span>
            </span>
            <span class="text">
                box select item enclosure
            </span>
        </label>
    </section>

</div>
