<div class="position_container">
    <!--
    world:{{world.width}} {{world.height}} <br/>
    grid:
        {{data.grid.xArray  | angular2json}}
        {{data.grid.yArray  | angular2json}} <br/> -->
    <!--
        items:
        <pre>{{items | angular2json}}</pre>
        settings:
        <pre>{{settings | angular2json}}</pre>
    -->
    <div class="svg_container">
        <svg
            zoomAndPan="magnify"
            ng-attr-view_box="
                {{settings.world.pan.x}}
                {{settings.world.pan.y}}
                {{settings.world.width / settings.world.zoom.factor}}
                {{settings.world.height / settings.world.zoom.factor}}
            "
        >
            <defs>
                <!-- http://www.xanthir.com/b4Yv0 -->
                <filter id="inset-shadow" x="-50%" y="-50%" width="200%" height="200%">
                    <feComponentTransfer in=SourceAlpha>
                        <feFuncA type="table" tableValues="1 0" />
                    </feComponentTransfer>
                    <feGaussianBlur stdDeviation="10"/>
                    <feOffset dx="50" dy="0" result="offsetblur"/>
                    <feFlood flood-color="rgb(20, 0, 0)" result="color"/>
                    <feComposite in2="offsetblur" operator="in"/>
                    <feComposite in2="SourceAlpha" operator="in" />
                    <feMerge>
                        <feMergeNode in="SourceGraphic" />
                        <feMergeNode />
                    </feMerge>
                </filter>
            </defs>
            <g
                ng-if="settings.grid.visible"
                id="grid1"
                class="grid"
                ng-class="{'numbers': settings.grid.numbers}"
            >
                <g
                    class="xArray"
                    ng-repeat="
                        xPos in settings.grid.xArray
                        track by xPos
                    "
                >
                    <line
                        ng-attr-x1="{{xPos}}"
                        y1="0"
                        ng-attr-x2="{{xPos}}"
                        ng-attr-y2="{{settings.world.height}}"
                    />
                    <text
                        ng-attr-x="{{xPos}}"
                        ng-attr-y="{{(settings.grid.stepSize/2)}}"
                    >
                        {{xPos}}
                    </text>
                </g>

                <g
                    class="yArray"
                    ng-repeat="
                        yPos in settings.grid.yArray
                        track by yPos
                    "
                >
                    <!-- x2="100%" -->
                    <line
                        x1="0"
                        ng-attr-y1="{{yPos}}"
                        ng-attr-x2="{{settings.world.width}}"
                        ng-attr-y2="{{yPos}}"
                    />
                    <text
                        ng-attr-x="{{(settings.grid.stepSize/2)}}"
                        ng-attr-y="{{yPos}}"
                    >
                        {{yPos}}
                    </text>
                </g>

            </g>
            <g
                ng-if="settings.gridSnap.visible"
                id="gridSnap"
                class="gridSnap"
            >
                <line
                    class="xArray"
                    ng-repeat="
                        xPos in settings.gridSnap.xArray
                        track by xPos
                    "
                    ng-attr-x1="{{xPos}}"
                    y1="0"
                    ng-attr-x2="{{xPos}}"
                    ng-attr-y2="{{settings.world.height}}"
                />
                <line
                    class="yArray"
                    ng-repeat="
                        yPos in settings.gridSnap.yArray
                        track by yPos
                    "
                    x1="0"
                    ng-attr-y1="{{yPos}}"
                    ng-attr-x2="{{settings.world.width}}"
                    ng-attr-y2="{{yPos}}"
                />
            </g>

            <text
                x="50%"
                y="50%"
            >
                center
            </text>
            <!--

            -->
            <svg
                class="item"
                ng-repeat="
                    (itemID, itemData) in items
                    track by itemData.id
                "
                ng-class="{
                    'selected': itemData.selected,
                    'active': itemData == itemActive,
                }"
                ng-touchstart="item_moving_start($event, itemData)"
                ng-mousedown="item_moving_start($event, itemData)"
                ng-attr-x="{{itemData.position.x}}"
                ng-attr-y="{{itemData.position.y}}"
                ng-attr-width="{{settings.item.width}}"
                ng-attr-height="{{settings.item.height}}"
                id="{{itemData.id}}"
            >
                <rect
                    width="100%"
                    height="100%"
                    ng-attr-fill="
                        rgb(
                            {{itemData.color.red}},
                            {{itemData.color.green}},
                            {{itemData.color.blue}}
                        )
                    "
                />
                <!-- filter="url(#inset-shadow)" -->
                <text
                    x="50%"
                    y="50%"
                    dy="0.35em"
                >
                    {{itemData.id}}
                </text>
            </svg>
            <rect
                id="box_select"
                class="box_select"
                x="1000"
                y="500"
                width="500"
                height="500"
            />
        </svg>
    </div>
</div>
