<g
    ng-if="showGrid"
    class="grid"
    ng-class="{'numbers': showNumbers}"
>
    <g
        class="xArray"
        ng-repeat="
            xPos in xArray
            track by xPos
        "
    >
        <line
            ng-attr-x1="{{xPos}}"
            y1="0"
            ng-attr-x2="{{xPos}}"
            ng-attr-y2="{{height}}"
        />
        <text
            ng-attr-x="{{xPos}}"
            ng-attr-y="{{(stepSize/2)}}"
        >
            {{xPos}}
        </text>
    </g>

    <g
        class="yArray"
        ng-repeat="
            yPos in yArray
            track by yPos
        "
    >
        <!-- x2="100%" -->
        <line
            x1="0"
            ng-attr-y1="{{yPos}}"
            ng-attr-x2="{{width}}"
            ng-attr-y2="{{yPos}}"
        />
        <text
            ng-attr-x="{{(stepSize/2)}}"
            ng-attr-y="{{yPos}}"
        >
            {{yPos}}
        </text>
    </g>
    <!-- <text x="50%" y="10%" fill="rgb(0, 255, 0)">
        height:{{height}}
    </text>
    <text x="50%" y="20%" fill="rgb(0, 255, 0)">
        width:{{width}}
    </text>
    <text x="50%" y="30%" fill="rgb(0, 255, 0)">
        stepSize:{{stepSize}}
    </text>
    <text x="50%" y="40%" fill="rgb(0, 255, 0)">
        showGrid:{{showGrid}}
    </text>
    <text x="50%" y="50%" fill="rgb(0, 255, 0)">
        showNumbers:{{showNumbers}}
    </text>
    <text x="50%" y="60%" fill="rgb(0, 255, 0)">
        xArray:{{xArray | json}}
    </text>
    <text x="50%" y="70%" fill="rgb(0, 255, 0)">
        yArray:{{yArray | json}}
    </text> -->
</g>
